@font-face {
	font-family:'GothamPro-Black';
	src: url('GothamPro-Black.eot');
	src: url('GothamPro-Black.eot?#iefix') format('embedded-opentype'),
		url('GothamPro-Black.woff') format('woff'),
		url('GothamPro-Black.ttf') format('truetype'),
		url('GothamPro-Black.svg#GothamPro-Black') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}